@import '../../app/app.scss';

/* PAGE */

.about-page {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

/* INTRO */

.intro-section {
  max-height: 40vh;
  display: flex;
  gap: 3vw;
  background-color: $background-light;
  margin: 0 25px;
  border-radius: 3px;
}

.intro-image {
  height: 100%;
  border-radius: 3px;
}

.intro-text {
  margin: 1.6vw;
  padding: 1vw 5vw 1vw 0;
  text-align: justify;
  line-height: 5vh;
  font-family: $font-family-secondary;
  font-size: 1.55vw;
  font-style: italic;
  color: $color-text-dark;

  &::first-letter {
    color: $color-primary;
    font-size: 3.5vw;
    font-weight: 600;
  }
}

/* TEAM */

.team-section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.team-member {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.7vw;
  border: $border;
  border-radius: 10px;
  box-shadow: $box-shadow;

  &:hover {
    border-color: #ff9100;
  }
}

.photo-member {
  width: 100px;
  border: $border;
  border-radius: 50%;
  box-shadow: $box-shadow;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
    cursor: none;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.title-wrap {
  padding-left: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.name-link {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: -7px;
  text-decoration: none;
}

.name-member {
  font-family: $font-family-secondary;
  font-size: 1.5vw;
}

.git-icon {
  height: 30px;
  margin-bottom: 7px;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(0.5turn);
  }
}

.role-member {
  font-family: $font-family-primary;
  font-size: 1.2vw;
  color: $color-primary;
}

.bio-header {
  font-family: $font-family-primary;
  font-size: 1vw;
  cursor: pointer;
}

.bio-member {
  padding: 10px;
  font-family: $font-family-secondary;
  font-size: 1vw;
  text-align: justify;
}

.hidden {
  display: none;
}

.works-wrap {
  display: flex;
  flex-direction: column;
}

.works-header {
  margin-bottom: 0.7vw;
  font-family: $font-family-secondary;
  font-size: 17px;
  font-size: 1.1vw;
  color: $color-secondary;
}

.works-list {
  list-style-type: none;
  padding: 0;
  color: $color-text-dark;
}

.work-item {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin: 0.5vw 0;
}

.work-icon {
  width: 20px;
  height: 20px;
}

.work-text {
  font-family: $font-family-secondary;
  font-size: 1vw;
  font-weight: 600;
}

.divider {
  width: 100%;
  border: 0;
  border-top: 1px solid $color-primary;
  margin: 1vw 0;
}

@media screen and (max-width: 1024px) {
  .intro-text {
    margin: 2vw;
    padding: 0;
    line-height: 3vw;
    font-size: 2vw;
  }

  .team-member div {
    width: 100%;
    gap: 0.5vw;
  }

  .photo-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .title-wrap {
    padding-left: 10px;
  }

  .name-member {
    margin: 5px 0;
    font-size: 2.2vw;
  }

  .role-member {
    margin-bottom: 5px;
    font-size: 1.7vw;
  }

  .bio-header,
  .works-header {
    font-size: 1.5vw;
  }

  .bio-member,
  .work-text {
    font-size: 1.3vw;
  }

  .works-wrap {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .intro-section {
    gap: 1vw;
  }

  .intro-text {
    margin: 10px;
    padding: 10px;
    font-size: 2.2vw;
  }

  .team-section {
    justify-content: space-evenly;
    row-gap: 20px;
  }

  .team-member {
    width: 40%;
  }

  .photo-wrap {
    margin-bottom: 1vh;
  }

  .name-link {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .name-member {
    font-size: 3vw;
  }

  .git-icon {
    height: 3.5vw;
  }

  .role-member {
    font-size: 2.3vw;
  }

  .bio-header,
  .works-header {
    font-size: 2.1vw;
  }

  .bio-member,
  .work-text {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 550px) {
  .about-page {
    height: auto;
    display: block;
    background-color: $background-light;
  }

  .intro-section {
    display: block;
    max-height: 100%;
  }

  .intro-image {
    width: 100%;
    height: auto;
  }

  .intro-text {
    font-size: 4.5vw;
    line-height: 4.5vw;
    margin-bottom: 3vh;

    &::first-letter {
      font-size: 5.5vw;
    }
  }

  .team-section {
    width: 100%;
  }

  .team-member {
    width: 90%;
    padding: 10px;
    background-color: $color-text-light;
  }

  .name-member {
    font-size: 6vw;
  }

  .git-icon {
    height: 7vw;
  }

  .role-member {
    font-size: 5vw;
  }

  .bio-header,
  .works-header {
    font-size: 4.5vw;
  }

  .bio-member,
  .work-text {
    font-size: 4vw;
  }

  .divider {
    margin: 10px 0;
  }
}
