@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 44px;
    background-color: #7e33e0;
}
.footer {
    height: 53px;
    background-color: #e7e4f8;
}

.login-form {
    width: 100%;
    max-width: 432px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    text-align: center;
    font-family: Lato, sans-serif;
}

.form-title {
    margin-bottom: 7px;
    font-family:
        Josefin Sans,
        sans-serif;
}

.form-subtitle {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 17px;
    color: #9096b2;
}

.input-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    height: 52px;
    padding: 10px;
    border: 1px solid #c2c5e1;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    &:focus {
        outline: none;
        border: 1px solid #c2c5e1;
    }
    &:valid {
        border: 1px solid green;
    }
    &:invalid {
        border: 1px solid red;
    }
    &:placeholder-shown {
        border: 1px solid #c2c5e1;
    }
}

.input-valid {
    border: 1px solid green;
}

.input-invalid {
    border: 1px solid red;
}

.error-message {
    position: fixed;
    margin-top: 55px;
    color: red;
}

.button {
    width: 100%;
    height: 47px;
    border-radius: 3px;
    background: #fb2e86;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition:
        transform 0.1s,
        background-color 0.1s;
    border: none;

    &:active {
        transform: scale(0.99);
        background-color: darken(#fb2e86, 5%);
    }
}

.account-text,
.create-account-link {
    font-size: 17px;
    color: #9096b2;
    text-decoration: none;
}

@media (max-width: 768px) {
    .main {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 0 5px;
    }
}

@media (max-width: 390px) {
    .login-form {
        width: 90%;
    }
}
