@import './../../app/app.scss';

.center {
  position: relative;
}

.wrap_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
}

.main {
  width: 100%;
  padding: 20px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f5ff;
  font-family: 'Josefin Sans', sans-serif;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
  flex-direction: column;
}

.main-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.main-links {
  text-decoration: none;
  color: #0d0e43;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;

  &:first-child {
    color: #fb2e86;
  }

  &:hover {
    transform: scale(1.1);
    color: #fb2e86;
  }
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .main {
    margin-top: 20px;
    padding: 0;
    gap: 0;
  }

  .main-items {
    gap: 10px;
  }

  .main-links {
    font-size: 13px;
  }
}