@import './../../app/app.scss';

.wrapper_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  font-family: $font-family-secondary;
  color: $color-text-dark;
}

.cart-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 44px 0;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
}

.cart-container {
  margin-bottom: 10px;

  & > p {
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
    font-size: 26px;
  }
}

.empty-cart-link {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  transition: $transition;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;

  &:hover {
    color: darken($color-primary, 5%);
  }

  &:active {
    transform: scale(0.99);
    color: darken($color-primary, 10%);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-primary;
    transform: scaleX(0);
    transition: $transition;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.empty-cart-img {
  width: 300px;
  height: 300px;
}

.btn-catalog,
.btn-clear {
  min-width: 300px;
  margin-bottom: 20px;
}

.cart-item {
  width: 100%;
  max-width: 718px;
  height: 95px;
  border-bottom: $border;
  list-style-type: none;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.item-image {
  width: 85px;
  height: 85px;
  object-fit: contain;
  overflow: hidden;
}

.product-info {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.item-name {
  font-size: 20px;
  font-weight: 600;
}

.item-price {
  width: 220px;
  text-align: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-quantity {
  width: 70px;
  height: 25px;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  border: $border;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  transition: $transition;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 3px;
  background-color: $color-primary;
  box-shadow: none;
  cursor: pointer;
}

.delete-icon-image {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .product-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .cart-item {
    width: 420px;
    height: 130px;
  }

  .cart-title {
    font-size: 26px;
    padding: 24px 0;
  }
}

@media (max-width: 425px) {
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .cart-item {
    width: 380px;
    height: 220px;
  }

  .cart-title {
    font-size: 26px;
    padding: 14px 0;
  }

  .empty-cart-link {
    font-size: 18px;
  }

  .item-price {
    font-size: 15px;
  }
}

.total-cost {
  height: 50px;
  font-size: 22px;
  font-weight: 600;
}
