@import './../../app/app.scss';

.wrapper_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
}

.cart-title {
  font-family: $font-family-secondary;
  color: $color-text-dark;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  padding: 2.4rem 0;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
}

.empty-cart-text,
.empty-cart-link {
  font-family: $font-family-secondary;
  color: $color-text-dark;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1.6rem;
}

.empty-cart-link {
  position: relative;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
    color: darken($color-primary, 5%);
  }

  &:active {
    transform: scale(0.99);
    color: darken($color-primary, 10%);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-primary;
    transform: scaleX(0);
    transition: transform 0.2s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.empty-cart-img {
  width: 30rem;
  height: 30rem;
}

.btn-catalog {
  min-width: 30rem;
}
