.wrapper_search {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  margin: 0 auto;
  @media screen and (max-width: 700px){
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}

.search_btn {
  min-height: 3rem;
  width: 100px;
}

.input_search {
  height: 100%;
  width: 100px;
}

.select {
  height: 30px;
}
