@import './../../app/app.scss';

.wrap_modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  min-width: 365px;
  width: 40%;
  height: 20%;
  background-color: $color-text-light;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: scale(0);
  transition: transform 0.3s;
  padding: 10px;
  min-height: 150px;
}

.block {
  overflow: hidden;
}

.text_modal {
  font-family: $font-family-secondary;
  font-size: 100%;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.btn_continue {
  width: 40%;
  height: 20%;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: $color-primary;
  color: $color-text-light;
  font-family: $font-family-secondary;
  font-size: 20px;
}

.visible {
  animation: vis 0.3s ease forwards;
  transform: scale(1);
}

.hidden {
  animation: nevis 0.3s ease forwards;
  transform: scale(0);
}

@keyframes vis {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nevis {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
