$color-primary: rgb(251, 46, 134);
$color-secondary: rgb(126, 51, 224);
$color-text-dark: rgb(16, 23, 80);
$color-text-grey: rgb(114, 120, 148);
$color-text-light: rgb(255, 255, 255);
$color-error: rgb(255, 0, 0);
$color-correct: rgb(0, 128, 0);
$background-light: rgb(246, 245, 255);
$border: 1px solid rgb(194, 197, 225);
$box-shadow: 0 0 25px 10px rgb(248, 248, 251);
$font-family-primary: Lato, Arial, sans-serif;
$font-family-secondary: 'Josefin Sans', Arial, sans-serif;
$transition: all 0.3s ease;
