name: Test


on:
  pull_request:
    branches:
      - '**' 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: check
        uses: actions/checkout@v3

      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install
        run: npm install
      
      - name: tests
        run: npm test
